<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>
<%# <div class="flex justify-center">
    <div @click.away="openSort = false" class="relative" x-data="{ openSort: true,sortType:'Sort by' }">
        <button @click="openSort = !openSort" class="flex  text-white bg-gray-200 items-center justify-start w-40  py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg ">
            <span x-text="sortType"></span>
            <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': openSort, 'rotate-0': !openSort}" class="w-4 h-4  transition-transform duration-200 transform "><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
        <div x-show="openSort" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute z-50 w-full  origin-top-right">
        <div class="px-2 pt-2 pb-2 bg-white rounded-md shadow-lg dark-mode:bg-gray-700">
            <div class="flex flex-col">
            <a @click="sortType='Most disscussed',openSort=!openSort" x-show="sortType != 'Most disscussed'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">

                <div class="">
                <p class="font-semibold">Baker</p>
                </div>
            </a>

            <a @click="sortType='Most popular',openSort=!openSort" x-show="sortType != 'Most popular'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">

                <div class="">
                <p class="font-semibold">Fish</p>
                </div>
            </a>

            <a @click="sortType='Most upvoted',openSort=!openSort" x-show="sortType != 'Most upvoted'" class="flex flex-row items-start rounded-lg bg-transparent p-2 hover:bg-gray-200 " href="#">

                <div class="">
                <p class="font-semibold">Water</p>
                </div>
            </a>
            </div>
        </div>
        </div>
    </div> 
<script src="//unpkg.com/alpinejs" defer></script>
</div> %>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-3">
    <div class="w-full bg-white rounded-lg flex flex-col justify-center items-center">
        <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
            <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <%= image_tag("console-gaming-advice-ps5.jpeg", alt: "Games") %>
            <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Games</h5>
            <p class="text-gray-700 text-base mb-4">
                A game is a structured form of play, usually undertaken for entertainment or fun, and sometimes used as an educational tool.
            </p>
            <button type="button" class="inline-block px-6 py-2.5 bg-black text-orange-600 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:shadow-lg focus:bg-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-white active:shadow-lg transition duration-150 ease-in-out"><a href="/products">Show</a></button>
            </div>
        </div>
        </div>
    </div>
    <div class="w-full bg-white rounded-lg flex flex-col justify-center items-center">
        <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
            <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <%= image_tag("getty_626660256_2000108620009280158_388846.jpg", alt: "Music") %>
            </a>
            <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Music</h5>
            <p class="text-gray-700 text-base mb-4">
               Music is generally defined as the art of arranging sound to create some combination of form, harmony, melody, rhythm or otherwise expressive content.
            </p>
            <button type="button" class="inline-block px-6 py-2.5 bg-black text-orange-600 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:shadow-lg focus:bg-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-white active:shadow-lg transition duration-150 ease-in-out"><a href="/products">Show</a></button>
            </div>
        </div>
        </div>
    </div>
    <div class="w-full bg-white rounded-lg flex flex-col justify-center items-center">
        <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
            <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <%= image_tag("movie.jpg", alt: "Movie") %>
            </a>
            <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Movie</h5>
            <p class="text-gray-700 text-base mb-4">
                A film – also called a movie, motion picture, moving picture, picture, photoplay or (slang) flick – is a work of visual art that simulates experiences.
            </p>
            <button type="button" class="inline-block px-6 py-2.5 bg-black text-orange-600 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:shadow-lg focus:bg-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-white active:shadow-lg transition duration-150 ease-in-out"><a href="/products">Show</a></button>
            </div>
        </div>
        </div>
    </div>
    <div class="w-full bg-white rounded-lg flex flex-col justify-center items-center">
        <div class="flex justify-center">
        <div class="rounded-lg shadow-lg bg-white max-w-sm">
            <a href="#!" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <%= image_tag("download.png", alt: "book") %>
            </a>
            <div class="p-6">
            <h5 class="text-gray-900 text-xl font-medium mb-2">Book</h5>
            <p class="text-gray-700 text-base mb-4">
                A book is a medium for recording information in the form of writing or images, typically composed of many pages bound together and protected by a cover.A single sheet in a codex is a leaf and each side of a leaf is a page.
            </p>
            <button type="button" class="inline-block px-6 py-2.5 bg-black text-orange-600 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-white hover:shadow-lg focus:bg-white focus:shadow-lg focus:outline-none focus:ring-0 active:bg-white active:shadow-lg transition duration-150 ease-in-out"><a href="/products">Show</a></button>
            </div>
        </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>